/*=====Whole Web Page=====*/
body{
margin:0;
font-family: Georgia;
background-color:  rgb(167, 175, 183);
}
/*=====Top Navagation Section*/
ul{
list-style-type: none;
margin: 0 !important;
padding: 0 !important;
overflow: hidden;
background-color: #FF7F7F;
}
ul li{
float: left;
}
ul li a{
display: block;
color: Black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
ul li a:hover{
background-color: #E77272;
}
#title{
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
/*=====Testomonies*/

#jmc{
    margin: 20px;
    padding: 15px;
    border: 5px solid darkcyan;
    background-color: #35CBDE;
    letter-spacing: 1px;
    text-align: center;
}
#ds{
    margin: 20px;
    padding: 15px;
    border: 5px solid darkcyan;
    background-color: #35CBDE;
    letter-spacing: 1px;
    text-align: center;
}
#pp{
    margin: 20px;
    padding: 15px;
    border: 5px solid darkcyan;
    background-color: #35CBDE;
    letter-spacing: 1px;
    text-align: center;
}